<div class="row header">
  <div class="col-md-5">
    <button mat-fab color="warn" routerLink="/home" (click)="showMenu()">
      <mat-icon>home</mat-icon>
    </button>
  </div>

</div>

<div *ngIf="menuBool" class="container">
  <div class="row">
    <div class="col-md-8" >
      <button
        color="warn"
        mat-raised-button
        style = "width:100%; margin-top:20px"
        routerLink="/attr-component"
        (click)="hideMenu()"
      >
        Attributes
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button
        color="primary"
        mat-raised-button
        style = "width:100%; margin-top:20px"
        routerLink="/empl-component"
        (click)="hideMenu()"
      >
        Employees
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button
        color="green"
        class = "btn btn-success"
        style = "width:100%; margin-top:20px"
        routerLink="/map-component"
        (click)="hideMenu()"
      >
        Map
      </button>
    </div>
  </div>


  <div class="col-md-12"></div>
</div>

<router-outlet *ngIf="!menuBool"></router-outlet>
